* {
    box-sizing: border-box;
    margin: 0;
  }
  
  
  :root {
    --heights: 100vh;
    --widths: 100%;
  }
  
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* .active {
    display: inline-block;
  } */
  
  .inactive {
    display: block;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  

  

  
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 85%;
    justify-content: center;
    z-index: 200;
    gap:10px;
    left:95%
  }
  
  .dot {
    cursor: pointer;
    height: .7rem;
    width: .7rem;
    margin: 0px 3px;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
    border:2px solid black
    /* display: inline-block; */
  }
  
  .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* .active-dot {
    background-color: rgba(255, 255, 255, 0.5);
  } */
  
  .slider-container:hover .dot{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .slider-container:hover .active-dot{
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .play-pause {
    color: black;
  }
  