.ul1{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-left: 2%;
    margin-top: 1%;
    /* align-items: center; */
    /* justify-content: center; */
}
.ul2{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-right: 2%;
    margin-top: 1%;
    /* align-items: center;
    justify-content: center; */
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top:0;
    color: blue;
}
li{
    align-items: center;
    justify-content: center;
}